/* TEXT */
.play-games,
.play-games * {
  box-sizing: border-box;
}
.play-games {
  color: #2f1893;
  text-align: left;
  font: 400 24px "Inter-Regular", sans-serif;
  position: relative;
  width: 134px;
  height: 22px;
}
.sigma-games,
.sigma-games * {
  box-sizing: border-box;
}
.sigma-games {
  color: #1e0e62;
  text-align: left;
  font: 400 32px "Inter-Regular", sans-serif;
  position: relative;
  width: 204px;
  height: 42px;
}
.more-links,
.more-links * {
  box-sizing: border-box;
}
.more-links {
  color: #2f1893;
  text-align: left;
  font: 400 24px "Inter-Regular", sans-serif;
  position: relative;
  width: 152px;
  height: 21px;
}

/* Epic bg, elipses, aka fancy stuff*/
.cover,
.cover * {
  box-sizing: border-box;
}
.cover {
  width: 640px;
  height: 380px;
  position: static;
}
.bg {
  background: #ffffff;
  width: 640px;
  height: 380px;
  position: absolute;
  left: -321px;
  top: -190px;
}
.ellipse {
  background: #ff0d6a;
  border-radius: 50%;
  width: 121px;
  height: 121px;
  position: absolute;
  left: -148px;
  top: -61px;
  filter: blur(75px);
}
.ellipse2 {
  background: #0500ff;
  border-radius: 50%;
  width: 121px;
  height: 121px;
  position: absolute;
  left: -71px;
  top: -61px;
  filter: blur(75px);
}
.ellipse3 {
  background: #00ffe0;
  border-radius: 50%;
  width: 121px;
  height: 121px;
  position: absolute;
  left: 6px;
  top: -61px;
  filter: blur(75px);
}
